*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'poppins','sans-serif';
    scroll-behavior: smooth;
}

p{
    font-weight: 300;
    color: #111;
}
header{
    position:fixed;
    top:0%;
    left: 0%;
    padding: 20px 10px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
    background-color: #242424;
}
.logo{
    color:white;
    font-weight:bold;
    font-size:2em;
    text-decoration:none;
}
.logo span{
    color: #fb911f;
}
.menunav{
    display:flex;
    position: relative;
}
.menunav li{
    list-style: none;
}
 .menunav a{
    color: #fff;
    text-decoration:none;
    margin-left:30px;
    font-weight:700;
    
}
.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu {
    margin-top: -100px;
    background-color: #FAFAFA;
}

.menu .contenu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}
.menu .contenu .carte {
    margin: 20px;
}


