.modalStyle {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContentStyle {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}
